In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:.2f}'.format
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
#school_data_complete.head(5)
#====================Python merge complete===============================================

In [2]:
#========Begin District Summary=========================



grouped_school_data = school_data_complete.groupby(["school_name"]) 
#grouped_school_data
school_budget = pd.DataFrame(grouped_school_data["budget"].mean())
#school_budget
total_budget = school_budget["budget"].sum()
#total_budget

avg_math_score = school_data_complete["math_score"].mean()
avg_reading_score = school_data_complete["reading_score"].mean()
avg_overall_score = (avg_math_score+avg_reading_score)/2

passing_math = school_data_complete.loc[(school_data_complete["math_score"] >= 70)]
passing_math_percent = 100*len(passing_math)/total_students
#print(passing_math_percent)
passing_reading = school_data_complete.loc[(school_data_complete["reading_score"] >= 70)]
passing_reading_percent = 100*len(passing_reading)/total_students
#print(passing_reading_percent)
passing_overall_percent = (passing_math_percent+passing_reading_percent)/2
#print(passing_overall_percent)
columns = [total_schools, total_students, total_budget, avg_math_score, avg_reading_score, avg_overall_score,
          passing_math_percent, passing_reading_percent, passing_overall_percent]

district_summary_df = pd.DataFrame({"Values": ["Total Schools", "Total Students", 
                                               "Total Budget", "Average Math Score", 
                                               "Average Reading Score", "Overall Average Score", 
                                               "% Passing Math", "% Passing Reading", 
                                               "Overall Passing Rate"], "Count":columns})

#district_summary_df

new_district_summary_df = district_summary_df.transpose()
new_district_summary_df

NameError: name 'total_students' is not defined

In [3]:
#================== School Summary ==============================
school_stats_df = school_data
school_stats_df = school_stats_df.sort_values("school_name", ascending = True)
#school_stats_df
school_size = school_group["size"].mean()
school_budget = school_group["budget"].mean()

budget_per_student = school_budget/school_size
#school_stats_df["per student budget"] = budget_per_student
#school_stats_df

avg_stats_df = school_data_complete.groupby(["School ID"]).mean() 
#avg_stats_df

avg_math_score = avg_stats_df["math_score"]
#school_stats_df["avg math score"] = avg_math_score

avg_reading_score = avg_stats_df["reading_score"]
#school_stats_df["avg reading score"] = avg_reading_score
#school_stats_df

#==============Find Average Math and Reading Scores for Schools============================================

#grouping the dataframe by school
#reduced_school_data = school_data_complete[["grade","school_name","reading_score","math_score","type","size","budget"]]
math_pass_per_school =  school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name").count()["student_name"]
reading_pass_per_school =  school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name").count()["student_name"]
school_percent_pass_math = (math_pass_per_school / school_size) * 100
#school_percent_pass_math
school_percent_pass_reading = (reading_pass_per_school / school_size) * 100 
#school_percent_pass_reading
school_percent_pass_overall = (school_percent_pass_math + school_percent_pass_reading) / 2
#school_stats_df["% Pass Math"] = school_percent_pass_math
#school_stats_df["% Pass Reading"] = school_percent_pass_reading
#school_stats_df["% Pass Overall"] = school_percent_pass_overall
#school_stats_df

school_summary_dic = {"School Type": school_type, "Total Students": school_size,
                      "Total School Budget": school_budget, "Per Student Budget": budget_per_student,
                      "Average Math Score": school_ave_math_score, "Average Reading Score": school_ave_reading_score,
                      "% Passing Math": school_percent_pass_math, "% Passing Reading": school_percent_pass_reading,
                      "% Passing Overall": school_percent_pass_overall}

school_summary_df = pd.DataFrame(school_summary_dic)
school_summary_df

NameError: name 'school_group' is not defined

In [4]:
#=============top 5 schools ===================
school_summary_df.sort_values(by = "% Passing Overall", ascending = False).head(5)
#df.sort_values(by='col1', ascending=False)

NameError: name 'school_summary_df' is not defined

In [5]:
#=============bottom 5 schools ===================
school_summary_df.sort_values(by = "% Passing Overall", ascending = True).head(5)

NameError: name 'school_summary_df' is not defined

In [6]:
#======================Math Scores by Grade======================================================
#school_grades = school_data_complete.groupby(["grade"])
nine_grade_math = school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name")
nine_grade_math = nine_grade_math.mean()["math_score"].astype(float)
#ninth_grade_math

ten_grade_math = school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name")
ten_grade_math = ten_grade_math.mean()["math_score"].astype(float)
#ten_grade_math

eleven_grade_math = school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name")
eleven_grade_math = eleven_grade_math.mean()["math_score"].astype(float)
#eleven_grade_math


twelve_grade_math = school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name")
twelve_grade_math = twelve_grade_math.mean()["math_score"].astype(float)
#twelve_grade_math


grade_dic_math = {"9th": nine_grade_math, "10th": ten_grade_math, "11th":eleven_grade_math, "12th":twelve_grade_math }
math_grade_df = pd.DataFrame(grade_dic_math)
math_grade_df


#very stupid method below.  Ignore!
#num_nine_students = len(school_data_complete[school_data_complete["grade"] == '9th'])
#num_nine_students 
#pass_math = school_data_complete[school_data_complete["math_score"] >= 70]
#nine_math_passing = pass_math[pass_math["grade"] == '9th']
#nine_math_passing_num = len(nine_math_passing["student_name"])
#nine_math_passing_num
#percent_nine_pass_math = nine_math_passing_num/num_nine_students
#percent_nine_pass_math

                        9th  10th  11th  12th
school_name
Bailey High School    77.08 77.00 77.52 76.49
Cabrera High School   83.09 83.15 82.77 83.28
Figueroa High School  76.40 76.54 76.88 77.15
Ford High School      77.36 77.67 76.92 76.18
Griffin High School   82.04 84.23 83.84 83.36
Hernandez High School 77.44 77.34 77.14 77.19
Holden High School    83.79 83.43 85.00 82.86
Huang High School     77.03 75.91 76.45 77.23
Johnson High School   77.19 76.69 77.49 76.86
Pena High School      83.63 83.37 84.33 84.12
Rodriguez High School 76.86 76.61 76.40 77.69
Shelton High School   83.42 82.92 83.38 83.78
Thomas High School    83.59 83.09 83.50 83.50
Wilson High School    83.09 83.72 83.20 83.04
Wright High School    83.26 84.01 83.84 83.64

In [7]:
#======================Reading Scores by Grade======================================================
#school_grades = school_data_complete.groupby(["grade"])
nine_grade_reading = school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name")
nine_grade_reading = nine_grade_reading.mean()["reading_score"].astype(float)
#nine_grade_reading
ten_grade_reading = school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name")
ten_grade_reading = ten_grade_reading.mean()["reading_score"].astype(float)
#ten_grade_reading
eleven_grade_reading = school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name")
eleven_grade_reading = eleven_grade_reading.mean()["reading_score"].astype(float)
#eleven_grade_reading
twelve_grade_reading = school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name")
twelve_grade_reading = twelve_grade_reading.mean()["reading_score"].astype(float)
#twelve_grade_reading


grade_dic_reading = {"9th": nine_grade_reading, "10th": ten_grade_reading, "11th":eleven_grade_reading, "12th":twelve_grade_reading}
reading_grade_df = pd.DataFrame(grade_dic_reading)
reading_grade_df

                        9th  10th  11th  12th
school_name
Bailey High School    81.30 80.91 80.95 80.91
Cabrera High School   83.68 84.25 83.79 84.29
Figueroa High School  81.20 81.41 80.64 81.38
Ford High School      80.63 81.26 80.40 80.66
Griffin High School   83.37 83.71 84.29 84.01
Hernandez High School 80.87 80.66 81.40 80.86
Holden High School    83.68 83.32 83.82 84.70
Huang High School     81.29 81.51 81.42 80.31
Johnson High School   81.26 80.77 80.62 81.23
Pena High School      83.81 83.61 84.34 84.59
Rodriguez High School 80.99 80.63 80.86 80.38
Shelton High School   84.12 83.44 84.37 82.78
Thomas High School    83.73 84.25 83.59 83.83
Wilson High School    83.94 84.02 83.76 84.32
Wright High School    83.83 83.81 84.16 84.07

In [8]:
#make copy so computer won't crash
#bin_school_summary_df = school_summary_df.copy()
#bin_school_summary_df
#school_summary_df

In [9]:
#=====================Bins for Schools======================================
# Sample bins. Feel free to create your own bins.
bin_school_summary_df = school_summary_df.copy()
bins = [0, 585, 615, 645, 675]
spending_labels = ["<$585", "$585-615", "$615-645", "$645-675"]
#make sure bins are working
#pd.cut(bin_school_summary_df["Per Student Budget"], bins, labels=spending_labels)
bin_school_summary_df["Per Student Budget"] = pd.cut(bin_school_summary_df["Per Student Budget"], bins, labels=spending_labels)
#bin_school_summary_df.head()

school_budget_group = bin_school_summary_df.groupby("Per Student Budget")
school_budget_group[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Passing Overall"]].mean()

NameError: name 'school_summary_df' is not defined

In [10]:
#Scores By School Size
school_size_summary_df = school_summary_df.copy()
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
school_size_summary_df["Total Students"] = pd.cut(school_size_summary_df["Total Students"], size_bins, labels=group_names)
#school_size_summary_df.head()
school_size_group = school_size_summary_df.groupby("Total Students")
school_size_group[[]].mean()

NameError: name 'school_summary_df' is not defined