In [2]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:.2f}'.format
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(5)
#====================Python merge complete===============================================

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
#========Begin District Summary=========================



grouped_school_data = school_data_complete.groupby(["school_name"]) 
#grouped_school_data
school_budget = pd.DataFrame(grouped_school_data["budget"].mean())
#school_budget
total_budget = school_budget["budget"].sum()
#total_budget

avg_math_score = school_data_complete["math_score"].mean()
avg_reading_score = school_data_complete["reading_score"].mean()
avg_overall_score = (avg_math_score+avg_reading_score)/2

passing_math = school_data_complete.loc[(school_data_complete["math_score"] >= 70)]
passing_math_percent = 100*len(passing_math)/total_students
#print(passing_math_percent)
passing_reading = school_data_complete.loc[(school_data_complete["reading_score"] >= 70)]
passing_reading_percent = 100*len(passing_reading)/total_students
#print(passing_reading_percent)
passing_overall_percent = (passing_math_percent+passing_reading_percent)/2
#print(passing_overall_percent)
columns = [total_schools, total_students, total_budget, avg_math_score, avg_reading_score, avg_overall_score,
          passing_math_percent, passing_reading_percent, passing_overall_percent]

district_summary_df = pd.DataFrame({"Values": ["Total Schools", "Total Students", 
                                               "Total Budget", "Average Math Score", 
                                               "Average Reading Score", "Overall Average Score", 
                                               "% Passing Math", "% Passing Reading", 
                                               "Overall Passing Rate"], "Count":columns})

#district_summary_df

new_district_summary_df = district_summary_df.transpose()
new_district_summary_df

NameError: name 'total_students' is not defined

In [180]:
#================== School Summary ==============================
school_stats_df = school_data
school_stats_df = school_stats_df.sort_values("school_name", ascending = True)
#school_stats_df
school_size = school_group["size"].mean()
school_budget = school_group["budget"].mean()

budget_per_student = school_budget/school_size
#school_stats_df["per student budget"] = budget_per_student
#school_stats_df

avg_stats_df = school_data_complete.groupby(["School ID"]).mean() 
#avg_stats_df

avg_math_score = avg_stats_df["math_score"]
#school_stats_df["avg math score"] = avg_math_score

avg_reading_score = avg_stats_df["reading_score"]
#school_stats_df["avg reading score"] = avg_reading_score
#school_stats_df

#==============Find Average Math and Reading Scores for Schools============================================

#grouping the dataframe by school
#reduced_school_data = school_data_complete[["grade","school_name","reading_score","math_score","type","size","budget"]]
math_pass_per_school =  school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name").count()["student_name"]
reading_pass_per_school =  school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name").count()["student_name"]
school_percent_pass_math = (math_pass_per_school / school_size) * 100
#school_percent_pass_math
school_percent_pass_reading = (reading_pass_per_school / school_size) * 100 
#school_percent_pass_reading
school_percent_pass_overall = (school_percent_pass_math + school_percent_pass_reading) / 2
#school_stats_df["% Pass Math"] = school_percent_pass_math
#school_stats_df["% Pass Reading"] = school_percent_pass_reading
#school_stats_df["% Pass Overall"] = school_percent_pass_overall
#school_stats_df

school_summary_dic = {"School Type": school_type, "Total Students": school_size,
                      "Total School Budget": school_budget, "Per Student Budget": budget_per_student,
                      "Average Math Score": school_ave_math_score, "Average Reading Score": school_ave_reading_score,
                      "% Passing Math": school_percent_pass_math, "% Passing Reading": school_percent_pass_reading,
                      "Overall Passing Rate": school_percent_pass_overall}

school_summary_df = pd.DataFrame(school_summary_dic)
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,[District],4976,3124928,628.00,77.05,81.03,66.68,81.93,74.31
Cabrera High School,[Charter],1858,1081356,582.00,83.06,83.98,94.13,97.04,95.59
Figueroa High School,[District],2949,1884411,639.00,76.71,81.16,65.99,80.74,73.36
Ford High School,[District],2739,1763916,644.00,77.10,80.75,68.31,79.30,73.80
Griffin High School,[Charter],1468,917500,625.00,83.35,83.82,93.39,97.14,95.27
Hernandez High School,[District],4635,3022020,652.00,77.29,80.93,66.75,80.86,73.81
Holden High School,[Charter],427,248087,581.00,83.80,83.81,92.51,96.25,94.38
Huang High School,[District],2917,1910635,655.00,76.63,81.18,65.68,81.32,73.50
Johnson High School,[District],4761,3094650,650.00,77.07,80.97,66.06,81.22,73.64
Pena High School,[Charter],962,585858,609.00,83.84,84.04,94.59,95.95,95.27
Rodriguez High School,[District],3999,2547363,637.00,76.84,80.74,66.37,80.22,73.29
Shelton High School,[Charter],1761,1056600,600.00,83.36,83.73,93.87,95.85,94.86
Thomas High School,[Charter],1635,1043130,638.00,83.42,83.85,93.27,97.31,95.29
Wilson High School,[Charter],2283,1319574,578.00,83.27,83.99,93.87,96.54,95.20
Wright High School,[Charter],1800,1049400,583.00,83.68,83.95,93.33,96.61,94.97

In [190]:
#=============top 5 schools ===================
school_summary_df.sort_values(by = "Overall Passing Rate", ascending = False).head(5)
#df.sort_values(by='col1', ascending=False)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,[Charter],1858,1081356,582.00,83.06,83.98,94.13,97.04,95.59
Thomas High School,[Charter],1635,1043130,638.00,83.42,83.85,93.27,97.31,95.29
Pena High School,[Charter],962,585858,609.00,83.84,84.04,94.59,95.95,95.27
Griffin High School,[Charter],1468,917500,625.00,83.35,83.82,93.39,97.14,95.27
Wilson High School,[Charter],2283,1319574,578.00,83.27,83.99,93.87,96.54,95.20

In [191]:
#=============bottom 5 schools ===================
school_summary_df.sort_values(by = "Overall Passing Rate", ascending = True).head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,[District],3999,2547363,637.00,76.84,80.74,66.37,80.22,73.29
Figueroa High School,[District],2949,1884411,639.00,76.71,81.16,65.99,80.74,73.36
Huang High School,[District],2917,1910635,655.00,76.63,81.18,65.68,81.32,73.50
Johnson High School,[District],4761,3094650,650.00,77.07,80.97,66.06,81.22,73.64
Ford High School,[District],2739,1763916,644.00,77.10,80.75,68.31,79.30,73.80

In [217]:
#======================Math Scores by Grade======================================================
#school_grades = school_data_complete.groupby(["grade"])
#grade_dic = {"9th": nine, "10th": ten, "11th":eleven, "12th":twelve }
#math_grade_df = pd.dataframe(grade_dic)
#math_grade_df

avg_math_by_grade = pd.DataFrame(grade_group[“math_score”].mean())

SyntaxError: invalid character in identifier (<ipython-input-217-06634818d109>, line 7)